body{
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    text-decoration:dodgerblue;
    text-shadow: 0pt;
    margin-top: 5px;
    
}   
img{
    border-bottom: ;
    border: top 10px dotted palevioletred; ;
    border: right 80px solid palevioletred; 
    border-left: ;
    margin-left: 30px;
    margin-top: 200px;
    height: 200px;
    width: 150px ;
    
}
h1[
    
]